body {
  background-color: #141414;
  color: #ffffff;
}

.movie-app > .row {
  overflow: hidden;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.row>* {
  width: auto;

}
::-webkit-scrollbar {
  /*width: 0;  /* Remove scrollbar space */
  
  background: transparent;  /* Optional: just make scrollbar invisible */

}

img {
  height: 28rem;
  width: 19rem;
  object-fit: cover;
}

p {
  max-width: 18rem;
}
/* 
.movie-list {
  border: solid;
} */